{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>notifications</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.com/libraries/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Dashboard</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href='{% url "contact" %}'>Contact us</a></li>
                <li><a href='{% url "home" %}'>Dashboard</a></li>
                <li><a href='{% url "notifications" %}'>Notifications</a></li>
                <li><a href='{% url "logout" %}'>Logout</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href='{% url "home" %}'>Dashboard</a></li>
      <li><a href='{% url "notifications" %}'>Notifications</a></li>
      <li><a href='{% url "contact" %}'>Contact us</a></li>
      <li><a href='{% url "logout" %}'>Logout</a></li>  
    </ul>

	<div>	
        <div class="row">
          {% for notif in notifs%}
            <div class="col s12 m12">
                <div class="card deep-purple accent-1">
                    <div class="card-content white-text">
                      <p>Your usage at {{ notif.for_data.date }} is {{ notif.for_data.value }} which is higher than the norm<br></p>
                    </div>
              </div>
            </div>
          {% endfor %}
        </div>
	</div>
	<script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  }); 
  </script>
</body>
</html>