<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <style>
    	.row-1 {
    		margin-bottom: 10%;
    	}

    	.input-field input{
		     color: white;
		}

    	.input-field input:focus {
		     color: white;
		}
    </style>
</head>
<body style="">
	<div class="container">
		<div class="row row-1"></div>
		<div class="row">
			<div class="col m3"></div>
		    <div class="col s12 m6">
		      <div class="card">
		        <div class="card-image">
		          <img src="https://preview.ibb.co/iUtuvp/ryan_tasto_776833_unsplash.jpg">
		        </div>
		        <div class="card-content">
		          <p>see you soon</p>
		        </div>
		        <div class="card-action">
		          <a href='{% url "login" %}'>Login</a>
		        </div>
		      </div>
		    </div>
		    <div class="col m3"></div>
		</div>
	</div>
</body>
</html>